{% extends "base.html" %}

{% block title %}Heavenly{% endblock %}

{% block content %}

<section id="home" class="hero">
    <img src="/static/HEAVENLY LOGO.jpg" alt="Heavenly logo" class="hero-logo">
    <h2>Heavenly Dessert Lounge</h2>
    <p>Velkommen til Strømmen sin søteste opplevelse</p>
</section>

<section id="menu">
    <h2>Meny</h2>

    <div class="menu">
        {% for item in menu_items %}
        <div class="card">
            <h3>{{ item[1] }}</h3>
            <p>{{ item[2] }}</p>
            <p>{{ item[3] }} kr</p>
        </div>
        {% endfor %}
    </div>
</section>

<section id="orders">
    <h2>Bestillinger</h2>

    <div class="order-box">
        <p>Mini Pancakes - klar til servering</p>
    </div>

    <div class="order-box">
        <p>Milkshake - under laging</p>
    </div>
</section>


{% endblock %}
    