{% extends "base.html" %}

{% block title %}Heavenly{% endblock %}

{% block content %}
<section id="home" class="hero">
    <img src="/static/HEAVENLY LOGO.jpg" alt="Heavenly logo" class="hero-logo">
    <h2>Heavenly Dessert Lounge</h2>
    <p>Velkommen til Strømmen sin søteste opplevelse</p>
</section>

<section id="menu">
    <h2>Meny</h2>

    <div class="menu">
        <div class="card">
            <h3>Mini Pancakes</h3>
            <p>Chocolate Strawberry</p>
        </div>

        <div class="card">
            <h3>Waffles</h3>
            <p>Lotus Biscoff</p>
        </div>

        <div class="card">
            <h3>Milkshakes</h3>
            <p>Chocolate</p>
        </div>

        <div class="card">
            <h3>Mocktails</h3>
            <p>Blue Lagoon</p>
        </div>
    </div>
</section>

<section id="orders">
    <h2>Bestillinger</h2>

    <div class="order-box">
        <p>Mini Pancakes - klar til servering</p>
    </div>

    <div class="order-box">
        <p>Milkshake - under laging</p>
    </div>
</section>
{% endblock %}
