<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heavenly</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <nav>
        <h1>Heavenly</h1>

        <div class="nav-links">
            <a href="#menu">Meny</a>
            <a href="#about">Om oss</a>
            <a href="#visit">Besøk</a>
        </div>
    </nav>

<section class="hero">
    <img src="/static/HEAVENLY LOGO.jpg" alt="Heavenly logo" class="hero-logo">

    <h2>Heavenly</h2>
    <p>Dessert & Sweet Lounge i Strømmen</p>
</section>


    <section id="menu">
        <h2>Meny</h2>

        <div class="menu">
            <div class="card">
                <h3>Mini Pancakes</h3>
                <p>Chocolate Strawberry</p>
            </div>

            <div class="card">
                <h3>Waffles</h3>
                <p>Lotus Biscoff</p>
            </div>

            <div class="card">
                <h3>Milkshakes</h3>
                <p>Chocolate</p>
            </div>

            <div class="card">
                <h3>Mocktails</h3>
                <p>Blue Lagoon</p>
            </div>
        </div>
    </section>

    <section id="about">
        <h2>Om oss</h2>

        <p class="info-text">
            Heavenly er et dessertsted hvor du kan nyte pancakes,
            vafler og milkshakes.
        </p>
    </section>

    <section id="visit">
        <h2>Besøk oss</h2>

        <p>Strømsveien 62</p>
        <p>2010 Strømmen</p>
    </section>

    <footer>
        <p>Heavenly Strømmen</p>
    </footer>

</body>
</html>
